body{
  margin: 0;
  font-size: 20px;
}
p{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 85px;
  padding: 100px 200px 0 200px;
  text-align: justify;
}

label{
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}
.header{
  width: 100%;
  background-color: #062743;
}

.home{
  width: inherit;
  height: 1000px;
  background-color: #b9d7ea;
  text-align: center;
}
.signup-nav{
  text-align: center;
  margin-left: 100px;
}
#brand{
  color: #fff;
  font-size: 25px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  padding-left: 40px
}
.nav-item{
  padding:0 15px;
}
.nav-link{
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
}
.btn{
  width: 110px;
  height: 45px;
}
.signup-head{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 80px;
}
.signup-form{
  padding-top: 32px;
}
.signup-nav{

}
.text{
  width: 320px;
  height: 40px;
  border-radius: 12px;
  border: 0;
  margin: 12px auto 12px auto;
}
.line{
  width: 5%;
  border-top: 10px dotted #000839;
}
.radio{
  width: 30px;
  height: 30px;
}
.submit-btn{
  width: 140px;
  height: 42px;
  border-radius: 15px;
  border: 0;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;

  background: #062743;
  color: #fff;
}

@media (max-width:1000px) {
  #brand{
    padding-left: 46%
  }
}
